{% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center; margin-top: 3%">Sign-In</h1>

<div style="text-align:center">
    <form method="POST" class="container col-3">
        {{ form.hidden_tag() }}
        {{ form.user_name(style="margin-top:1rem", class='form-control', placeholder='User Name', autocomplete='off') }}
        {{ form.password(style="margin-top:1rem", class='form-control', placeholder='Password', autocomplete='off') }}
        {{ form.submit(value="Sign In", style="margin-top:1rem", class="btn btn-primary btn-lg") }}
    </form>
</div>

{% endblock %}