
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header {
    display:flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 7em;
}

#name {
    font-size: 2.5em;
}

#nav {
    width: 40%;
}

ul {
    display:flex;
    margin: 1rem;
    list-style: none;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

li {
    margin: 1rem;
}

#hero {
    width: 100%;
    display:flex;
    background-image: url(theater.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
    align-items: center;
    justify-content: center;
    color:white;
    margin-bottom: 10rem;
}



.performances {
    display:flex;
    justify-content:space-between;
    align-content: center;
    margin: auto;
    padding: 2rem .5rem;
    border-bottom: 2px solid darkgray;
    width: 60%;
    margin-bottom: 1rem;
    text-align:left;
    line-height: 2.5rem;
    height: auto;
}

main p {
    font-size: 20px;
}

main img {
    width: auto;
    height: 12rem;
}

button {
    background-color: rgb(225, 169, 27);
    color: white;
    height:fit-content;
    width: auto;
    border: .5px solid black;
    padding: 15px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
}

#date {
    background-color:rgb(248, 244, 244);
    border: 1px solid black;
    width: 60%;
    margin:auto;
    padding: .5rem 0 .5rem 3rem;
}

footer {
    display:flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    padding: 5rem;
}

footer p {
    margin-bottom: 2.5rem;
    font-size: 14px;
    margin-top:2rem;
}

#map {
    width: 300px;
    height: auto;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 2.75rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

h3 {
    font-size: 26px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color:white;
}

form {
    align-self:center;
}

button:hover {
    cursor:pointer
}

.pushleft {
    padding-right: 7rem;
}

.tiny {
    height: 2rem;
    float:left;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

footer div {
    width: 15.6rem;
}